/* Palette */
/* https://www.color-hex.com/color-palette/1009880 */

.navbar {
    background-color: #0e3768;
}

body {
    background-color: #555555;
}

.accordion-button, .accordion-button:not(.collapsed) {
    background-color: #0e3768;
    color: #b0d8e3;
}

.accordion-item {
    background-color: #b0d8e3;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

/* .accordion-item a {
    color:#efe897;
} */